PORT=3000
BASE_URL=https://dummyjson.com/products
JWT_SECRET=your-super-secret-key-change-it
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz123456
